@font-face {
    font-family: "quan";
    src: url(./assets/font/Quan.otf);
}
@font-face {
    font-family: "quan-light";
    src: url(./assets/font/Quan-Light.otf);
}
@font-face {
    font-family: "quan-bold";
    src: url(./assets/font/Quan-Bold.otf);
}
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Roboto:wght@300&display=swap'); */

.main-description {
    font-family: 'quan-light';
    font-size: 60px;
    color: black;
}

.small-title-bold {
    margin-left: 20px;
    padding-top: 320px;
    font-family: 'quan-bold';
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.small-title {
    margin-left: 20px;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'quan-light';
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.small-subtitle {
    margin-left: 20px;
    font-family: 'quan-light';
    font-size: 15px;
    font-weight: 300;
    color: black;
}