@font-face {
    font-family: "quan";
    src: url(./assets/font/Quan.otf);
}
@font-face {
    font-family: "quan-light";
    src: url(./assets/font/Quan-Light.otf);
}
@font-face {
    font-family: "quan-bold";
    src: url(./assets/font/Quan-Bold.otf);
}
.columns{
    margin: 0 !important;
    padding: 0;
}
.main-description {
    font-family: 'quan-light';
    font-size: 60px;
    color: black;
}

.small-title-bold {
    font-family: 'quan-bold';
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.small-title {
    font-family: 'quan-light';
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.small-subtitle {
    font-family: 'quan-light';
    font-size: 15px;
    font-weight: 300;
    color: black;
}