#mainHome {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  .mainHomeContainer {
    padding: 0 5.8vw;
    .mainHomeRow1 {
      padding-top: 13.5vh !important;
      .mainHomeImg {
        img {
        }
      }
      .mainHomeDescription {
        .mainDescription {
          font-family: "quan-light";
          line-height: 1;
          color: black;
          margin-top: -1vh;
        }
      }
    }
    .mainHomeRow2 {
      padding-bottom: 15.3vh;
      .mainHomeTitle {
        .small-title-bold {
          font-family: "quan-bold";
          font-size: 1.5rem;
          color: black;
          height: 1.405vw;
        }
        .small-subtitle {
          font-family: "quan-light";
          font-size: 1rem;
          color: black;
          height: 1.08vw;
        }
      }
      .mainHomeDownload {
        .small-title {
          font-family: "quan-light";
          font-size: 1.875rem;
          color: black;
        }
        .small-title-btn {
          font-family: "quan-light";
          font-size: 1.5rem;
          height: 60px;
          white-space: pre;
          margin-left: -0.6vw;
          padding-left: 30px;
          padding-right: 30px;
          border-radius: 39px;
          margin-bottom: 1.5vh;
        }
      }
    }
  }
}
